h1 {
  color: red;
  font-size: 3rem;
}

h2 {
  color: darkred;
  font-size: 2.5rem;
}

p {
  color: darkred;
  font-size: 2rem;
}

#heading {
  color: deepskyblue;
  font-size: 3.25rem;
}

#subheading {
  color: gray;
  background-color: black;
}

.green {
  color: green;
  background-color: darkgreen;
}

.red {
  color: red;
  background-color: darkred;
}
